* {
    box-sizing: border-box;
    -webkit-padding-start: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: white;
    background: url('../pics/3132.jpg') bottom center fixed;
    opacity: 0.85;
}

h1 {
    text-align: center;
}

.logo {
    width: 25%;
    border-radius: 5px;
}

nav {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.photo-container {
    border-radius: 5px;
    width: 75%;
    margin: auto;
    background-color: white;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: url('../pics/3132.jpg') bottom center fixed;
}

.gal-pic {
    width: 95%;
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.indv-pic {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.img-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-padding-start: 0px;
    list-style-type: none;
}
  
ul {
    list-style-type: none;
}

li {
    margin: 5px;
}
  
.box {
    width: 30%;
    border-radius: 5px;
    margin: 5px;
    padding: 0.25%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.box:hover {
    border: 1px solid;
    border-color: #326E99;
}

.photo-box-screen-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
}

.exit-button {
    margin: 5px;
    padding: 5px;
    border: 0;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
}

.exit-button:hover {
    cursor: pointer;
    border: 1px dashed darkgray;
}

.photo-box-screen {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 25vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-photo-post-form {
    border: 3px solid #326E99;
    background-color: #3F8ABF;
    opacity: 0.95;
    padding: 5px;
    border-radius: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
}

.custom-file-container {
    text-align: center;
    width: 90%;
    margin: 0;
}

.custom-file-container__image-preview {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.photo-form-field {
    width: 50%;
    height: 25px;
    border-radius: 5px;
    margin-top: 2px;
}

.custom-file-container__custom-file {
    text-align: left;
}

#update-form {
    padding: 5px;
    border-radius: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
}

.image-upload-success {
    margin-bottom: 10px;
}

.single-image-content > li {
    margin: 15px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*Main button class
==========================*/
.ph-button {
	
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 600;	
}

.nav-button {
    padding: 20px;
    font-size: 15px; 
}

.form-button {
    margin: 15px;
    padding: 10px;
    font-size: 14px;
}

.delete-button, .edit-button {
    margin: 15px;
    padding: 10px;
    font-size: 14px;
}

.do-not-delete-button, .yes-delete-button {
    margin: 15px;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
}
.delete-prompt-box {
    border: 3px solid #ED5A5A;
    background-color: #C6CCD2;
    opacity: 0.95;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*Green
==========================*/
.ph-btn-green {

    border-color: #3AC162;
	background-color: #5FCF80;

}
.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: #4BC970;
    border-color: #3AC162;    
}

/*Blue
==========================*/
.ph-btn-blue {

    border-color: #326E99;
    background-color: #3F8ABF;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;   
}

/*Grey
==========================*/
.ph-btn-grey {

     background-color: #C6CCD2;
     border-color: #AAB3BB;
}
.ph-btn-grey:hover, .ph-btn-grey:focus, .ph-btn-grey:active {
    background-color: #B8BFC7;
    border-color: #AAB3BB; 
}

/*Red
==========================*/
.ph-btn-red {

    background-color: #ED5A5A !important;
    border-color: #EA4343 !important;

}
.ph-btn-red:hover, .ph-btn-red:focus, .ph-btn-red:active {
    background: none repeat scroll 0 0 #EB4848 !important;
    border-color: #E83131 !important;    
}

@media only screen and (max-width: 800px), screen and (max-height: 680px) {

    .logo {
        width: 75%;
    }
    .photo-container {
        width: 80%;
    }
    .row {
        flex-direction: column; 
        height: 100%;
    }
    
    .box {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  .photo-box-screen {
      top: 10vh;
  }
  .custom-file-container__image-preview {
    width: 0px;
    height: 0px;
}
#create-photo-post-form {
    width: 65%;
    font-size: 14px;
}
.form-container {
    top: 10vh;
}

#update-form {
    width: 65%;
    font-size: 14px;
}

.single-image-content > li {
    margin: 5px;
}
}

@media only screen and (max-width: 1200px) {
    .img-content {
        font-size: 12px;
    }
}
@media only screen and (max-height: 450px) {

    .logo {
        width: 30%;
    }
    .main-container {
        width: 50%;
    }
    .row {
        flex-direction: column; 
        height: 100;
    }
    .indv-pic {
        max-height: 275px;
        max-width: 275px;
    }
    .box {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

  .photo-box-screen {
      padding: 10px;
      flex-direction: row;
      top: 5vh;
      align-items: center;
      flex-wrap: wrap;
  }

  .single-image-content {
      margin-left: 30px;
  }
  
  #create-photo-post-form {
      width: 40%;
  }
  .form-container {
    padding: 10px;
    flex-direction: row;
    top: 5vh;
    align-items: center;
    flex-wrap: wrap;
  }
  .button-container {
      flex-direction: column;
  }

}

@media only screen and (max-height: 350px) {

    .delete-button, .edit-button {
        margin: 3px;
        padding: 0px;
        font-size: 12px;
    }

    .single-image-content {
        font-size: 11px;
    }
}

@media only screen and (max-width: 350px) {

    .delete-button, .edit-button {
        margin: 3px;
        padding: 0px;
        font-size: 12px;
    }

    .single-image-content {
        font-size: 11px;
    }
}